@using os.Models
@model IEnumerable<os.Models.LogModel>
<div class="text-center">
    <img src="~/img/security.svg" style="min-height: 125px;" />
</div>
<h1 class="text-center mb-4 light-txt">Security Logs</h1>
<div class="search-row">
    <div class="search-colum-1">
    </div>
    <div class="search-colum-3">
        <input type="text" id="searchInput" class="form-control" style="max-width:200px;" placeholder="Search...">
        <img src="~/img/search.svg" class="search-img" />
    </div>
</div>
<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChangedFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChangedTo)
                </th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:left; padding-left:20px;">
                        @Html.DisplayFor(modelItem => item.EventId)
                    </td>
                    <td style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.ChangedFrom)
                    </td>
                    <td style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.ChangedTo)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* Search and Filter *@
<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        let input = this.value.toLowerCase();
        let rows = document.getElementById('tableBody').getElementsByTagName('tr');
        for (let i = 0; i < rows.length; i++) {
            let rowData = rows[i].getElementsByTagName('td');
            let match = false;
            for (let j = 0; j < rowData.length; j++) {
                if (rowData[j].innerText.toLowerCase().indexOf(input) > -1) {
                    match = true;
                    break;
                }
            }
            if (match) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>