@using os.Models
@model IEnumerable<os.Models.SpeakerModel>
<div class="text-center">
    <img src="~/img/speakers.svg" style="min-height: 150px;" />
</div>
<h2 class="text-center mb-4 light-txt">Speakers</h2>
<div class="search-row">
    <div class="search-colum-1">
        <a href="@Url.Action("AddSpeaker", "Admin")" class="btn btn-secondary cust-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add a new speaker to the system.">Add Speaker</a>
    </div>
    <div class="search-colum-3">
        <input type="text" id="searchInput" class="form-control" style="max-width:200px;" placeholder="Search...">
        <img src="~/img/search.svg" class="search-img" />
    </div>
</div>
<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="la pl20">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th class="la">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th class="la">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UploadDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UploadedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpeakerStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visibility)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="la pl20">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="la" style="text-align:left;">
                        @(item.LastName?.Substring(0, 1))
                    </td>
                    <td class="la">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @(item.UploadDate?.ToString("MM/dd/yyyy"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpeakerStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visibility)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="EditSpeakerDetails" asp-route-id="@item.SpeakerId" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit the speaker's' details.">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* Search and Filter *@
<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        let input = this.value.toLowerCase();
        let rows = document.getElementById('tableBody').getElementsByTagName('tr');
        for (let i = 0; i < rows.length; i++) {
            let rowData = rows[i].getElementsByTagName('td');
            let match = false;
            for (let j = 0; j < rowData.length; j++) {
                if (rowData[j].innerText.toLowerCase().indexOf(input) > -1) {
                    match = true;
                    break;
                }
            }
            if (match) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>