@model os.Models.HomeBundle
@{
    ViewData["Title"] = "Shared Member Login";    

    int sentinal = 0;
    foreach (var anouncement in Model.AnnouncementList)
    {
        if (anouncement.Status == "Enabled")
        {
            sentinal++;
        }
    }
}
@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-info">
        @ViewBag.StatusMessage
    </div>
}
<div class="logo-container">
    <center><span class="presentedby-txt">The Living in the Solution Group.</span></center>
    <center><span class="presentedby-txt">Atlanta, Ga.</span></center>
</div>

@if(sentinal >= 1)
{
    <div class="container-column">
        <div class="login-container-row">
            <div class="login-container-column">
                <section>
                    <div class="announcement-div light-txt">
                        @if (Model.AnnouncementList != null && Model.AnnouncementList.Count > 0)
                        {
                            <div class="alert-icon">
                                <img src="~/img/information.svg" />
                            </div>
                            <p class="announcement-heading-txt">Special Announcement!</p>
                            @foreach (var announcement in Model.AnnouncementList)
                            {
                                @if(announcement.Status == "Enabled"){
                                <p class="announcement-txt" id="announcement-txt">@announcement.AnnouncementTxt </p>
                                }
                            }
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
}

<div class="container-column">
    <div class="login-container-row">
        <div class="login-container-column">
            <section>
                <form asp-controller="Home" asp-action="Index" method="post">
                    <div class="login-logo light-txt-heading">
                        <center>@ViewData["Title"]</center>
                    </div>
                    <div class="password-message light-txt">
                        <p class="message-txt">A member-to-member shared password is required to access speaker recordings.</p>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3" hidden>
                        <input name="email" class="form-control" autocomplete="username" aria-required="true" placeholder="shareduser@oursolution.io" value="shareduser@oursolution.io" hidden />
                        <label hidden>Email</label>
                        <span class="text-danger" hidden></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="******" />
                        <label>Password</label>
                        <span class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="btn-primary">Listen</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div style="min-height: 1000px;">
        <div class="light-txt margin-top-20" id="location_container">
            <span class="heading-links">Meeting Locations</span><br>
            <div class="location-text" id="location_text">
                <span>Men who have a desire to stop drinking are welcome to join us.</span></br></br>

                    @if (Model.MeetingList != null && Model.MeetingList.Count > 0)
                    {
                        foreach(var meeting in Model.MeetingList)
                        {
                            if(meeting.Status == "Active")
                            {
                                <div class="meeting-card-container">
                                    <div class="meeting-card">
                                        <div>
                                            <span class="meeting-name">@meeting.MeetingName</span><br>
                                            @meeting.Weekday @meeting.StartTime @meeting.StartTimeAMPM – @meeting.EndTime @meeting.EndTimeAMPM<br>
                                        </div>
                                        <div class="address-container">
                                            <a href="@meeting.GoogleMapsLink" target="_blank">
                                                @meeting.LocationName<br>
                                                @meeting.StreetAddress<br>
                                                @meeting.City, @meeting.State @meeting.Zip<br>
                                            </a>
                                        </div>
                                    </div>            
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <p class="text-center">No meetings are currently scheduled.</p>
                    }
            </div>
        </div>
        <div class="light-txt margin-top-20" id="helpful_links_container">
            <span class="heading-links">Helpful Links</span><br>
            <div class="helpful-links-text" id="helpful_links_text">
                <div class="helpful-links-card">
                    <a href="https://www.aa.org/aa-gso">AA General Service Office</a></br>
                    <a href="https://atlantaaa.org/">Atlanta Central Office</a> / <a href="https://atlantaaa.org/meetings/">Atlanta Area Meetings</a></br>
                    <a href="https://play.google.com/store/apps/details?id=com.bigbook3&hl=en_US">Everything AA App</a></br>
                    <a href="https://www.recoveryspeakers.com/">RecoverySpeakers.com</a></br>                             
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_GoogleAnalytics" />
    <script src="~/js/fadeIn.js"></script>
}
